@media screen and (max-width: 1300px) {
	.wrapper {
		max-width: 1000px;
	}

	.nav {

		&__link {
			font-size: 14px;
			padding: 5px 3px;
		}
	}

	.footer {
		margin-top: 100px;
		
		&__image {
			width: 250px;
		}
	}
}

@media screen and (max-width: 1070px) {
	.main .content {
		display: flex;
		flex-direction:column;

		&__right-column {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.posts .post {

		&__date {
			left: 0;
			top: 0;
			border-radius: 0 0 3px 0;
		}
	}

	.cards {
		&__new-indicator {
			left: -10px;
		}
	}

	.chat {
		flex-grow: 1;
		margin-left: auto;
		&.margin-top {
			margin-top: 0;
		}
		&__input {
			width: 100%;
			margin-right: 5px;
			
		}
	}

	.profile {
		max-width: 350px;
		margin-right: 10px;
	}

	.news {
		flex-grow: 1;
	}

}

@media screen and (max-width: 960px) {
	.search {
		// уменьшить width
		width: 200px;
		&::before, &::after {
			display: none;
		}
		padding: 0;
		border-radius: 5px;
	}
	#search__nav {
		width: 100px;
	}
}

@media screen and (max-width: 880px) {
	.footer {
		&__image {
			width: 150px;
		}
	}
	.burger {
		display: block;
	}
	.nav__links {
		display: none;
	}
	.main .content {
		grid-template-columns: 7fr 4fr;
	}
}

@media screen and (max-width: 700px) {
	.profile {
		flex-grow: 1;
		max-width: none;
		margin: 0;
	}

	.chat {
		margin-left: 0;
		&.margin-top {
			margin-top: 12px;
		}
	}
}