// общие
$heading__blue: #6AAFC9;
$heading__blue-hover: #81b5c8;
$akcent__green: #A8D488;
$akcent__green-hover: #b6dd99;
$warning_red: #C96B6B;
$warning_red-hover: #c87979;
// не только левый, но и правый (название менять проблематично)
$left__container-bg: #F7F7F7;

// слайдер
$slider__height: 400px;

// карточки
$cards__container-height: 300px;

// посты, лента
$post__image-width: 350px; 
$post__date-width: 46px;
$post__date-color: #006e99;





